body{
    background-color: gray;
}

·contenedor{
    width: 400px;
    font-family: Arial;
    font-size: 30px;
}
.caja{
    display: block;
    padding: 20px;
    margin: 10px;
    background-color: deepskyblue;
}